.navbar-wrapper-fixed {
  top: 0;
  position: fixed;
  background: white;
  width: 100%;
  height: 10rem;
  border-bottom: 0.1rem solid gray;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__left img {
    width: 10rem;
    height: 10rem;
    float: right;
  }
}
